/* desctop responsive setings for nav bar and logo functionalities*/

@media screen and (min-width: 769px){
    nav{
        transition: transform 0.3s ease, background 0.4s ease, padding 0.4s ease;
    }

    nav.hidden{
        transform: translateY(-100%);
    }

    nav.scrolled{
        background: rgba(255, 130, 138, 0);
        backdrop-filter: blur(2.5px);
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1500);
        padding: 0.7rem 0;
    }

    .logo-img.scrolled{
        height: 40px;
        width: 40px;
        transition: all 0.4s ease;
    }

    /*desctop horizontal raw*/

    .skills-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        max-width: 1000px;
        margin: 0 auto;
    }
    
    .skill-card{
        width: 180px;
    }
  
}