/* ------ make mobile responsive------*/

 @media screen and (max-width:768px) { /*edjusting navigation for others*/

    
     body{
        background-attachment: scroll !important;
        background-position: center center !important;
        height: auto;
        min-height: 100vh;
     }

    .logo-img{
        height: 50px; /*make smaller on phone*/
    }
    

/*hero section*/

    #home{
        padding: 6rem 1rem 2rem;
    }

    .profile-photo{
        width: 280px;
        height: 280px;
    }

    #home h1{
        font-size: 2rem;
    }

/*about section*/

    #about{
        padding: 2rem 1rem;
        margin: 1rem;
    }


/*project section*/

    #project{
        padding: 2rem 1rem;
    }
 }

 /*contact section*/

    .contact-links{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .contact-btn{
        padding: 10px 50px;
    }


 /*===small phones==*/

 @media screen and (max-width:480px){
    .profile-photo{
        width: 280px;
        height: 280px;
    }

    #home h1{
        font-size: 1.8rem;
    }

    .skills-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        max-width: 300px;
        margin: 0 auto;
    }

    .skill-card{
       padding: 1rem;
       margin-top: 1rem;
    }

    .skill-icon{
        width: 40px;
        height: 40px;
    }

   
 }
