/* ------ make mobile responsive------*/

 @media screen and (max-width:768px) {   /*edjusting navigation for others*/
    
    nav ul{
        gap: 1rem;
        justify-content: center;
    }

/*hero section*/

    #home{
        padding: 6rem 1rem 2rem;
    }

    .profile-photo{
        width: 200px;
        height: 200px;
    }

    #home h1{
        font-size: 2rem;
    }

/*about section*/

    #about{
        padding: 2rem 1rem;
        margin: 1rem;
    }

/*skills section*/

    .skills-container{
        gap: 0.5rem;
    }

    .skill{
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
    }

/*project section*/

    #project{
        padding: 2rem 1rem;
    }
 }



 /*===small phones==*/

 @media screen and (max-width:480px){
    .profile-photo{
        width: 150px;
        height: 150px;
    }

    #home h1{
        font-size: 1.8rem;
    }

    .skills-container{
        flex-direction: column;
        align-items: center;
    }

    nav ul{
        flex-wrap: wrap;
    }
 }