*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial,sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #c1121e4f;
    background: linear-gradient(135deg, #c1121e4f 0%, #5f0303e3 100%);
    
}

html {
    scroll-padding-top: 80px;/*fix for scroll issue*/
    scroll-behavior: smooth;
}

nav{
   /* background: #c1121e4f;*/
    padding: 1rem 0;
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}



#home{
    text-align: center;
    padding: 4rem 2rem;
    background: linear-gradient(135deg, #c1121e4f 0%, #5f0303e3 100%);
    color: white;
    padding-top: 80px; /*increse nav is taller*/
    /*add animation for the home page*/
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    animation: float 3s ease-in-out infinite;
}

/*home page animaton key frame*/

@keyframes float{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(0px);
    }
}

/*hero section*/

.cta-button{
    display: block;                 /*make button a block to make center*/
    margin: 1rem auto 1rem auto;    /*make button center order goes as NSEV*/
    background: transparent;
    color: #ecf0f1;
    border: 2px solid white;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: all 0.3s ease;
}

.cta-button:hover{
    background: white;
    color: #c1121f;
    transform: translateY(-3px);
}

.profile-photo{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 1rem;
    animation: pulse 3s infinite;
}

/*profile pulse animation*/

@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(255,255,255,0.7);
    }

    70%{
        box-shadow: 0 0 0 20px rgba(255,255,255,0);
    }

    100%{
        box-shadow: 0 0 0 0 rgba(255,255,255,0);
    }
}


#home h1{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

#home p{
    font-size: 1.2rem;
    opacity: 0.9;
}
/*logo image*/

.logo{
    z-index: 1001;
}

.logo-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}




/*about section*/

#about{
    padding: 4rem 2rem;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


#about h2 {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 1.5rem;
    font-size: 3rem;
}

#about p {
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.8;
    color: #ffffff;
}

/*skill section*/

#skills{
    padding: 4rem 2rem;
    
    text-align: center;
}

#skills h2{
    color: #ffffff;
    margin-bottom: 2rem;
    font-size: 2rem;
}


.skills-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

.skill{
    background: #5f0303e3;
    color: #ecf0f1;
    padding: 0.8rem 1.5rem;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    cursor: pointer;
    
}

.skill:hover{
    transform: translateY(-15px) scale(1.1);
    background: #da1313;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}


/*porject section*/

#projects{
    padding: 2rem 4rem ;
    max-width: 1000px;
    margin: 0 auto;
}

#projects h2{
    text-align: center;
    color: #000000;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.project{
    background: #f0a3a8;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    border-left: 5px solid #910606;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.project:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    border-left: 5px solid #c1121f;
}

.project h3{
    color: #ecf0f1;
    margin-bottom: 1rem;
}

.project ul{
    margin: 1rem 0;
    padding-left: 2rem;
}

.project ul li{
    margin-bottom: 0.5rem;
}

/*contact section*/

#contact{
   /* background: #910606;*/
    color: #ecf0f1;
    padding: 3rem 2rem;
    text-align: center;
}

#contact h2{
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 2rem;
}

#contact p{
    margin: 0.1rem 0;
    font-size: 1.1rem;
}

#copyright{
    text-align: center; /*make block centered*/
}


#copyright p{
    color: #ffffff;
    background: #3333338f;
    border-radius: 50px;
    border: 1px solid #737272;
    margin-top: 40px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem; /*UP RIGHT DOWN LEFT */
    display: inline-block; /* border wrap over text */  
}

/*====hamberger menu styles======*/

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.logo{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 1001;
    margin: 0;
    padding-left: 1rem;
}

.nav-menu{
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li{
    margin: 0;
}

.nav-menu a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

.nav-menu a:hover{
    color: #34a0a4;
}


/* hamburger icon */

.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1001;
    padding-right: 1rem;
    margin: 0;
}

.bar{
    width: 25px;
    height: 3px;
    background: #ffffff;
    margin: 3px 0;
    transition: 0.3s;
}



/* ------ make mobile responsive------*/

 @media screen and (max-width:768px) { /*edjusting navigation for others*/


    .logo-img{
        height: 50px; /*make smaller on phone*/
    }
    

/*hero section*/

    #home{
        padding: 6rem 1rem 2rem;
    }

    .profile-photo{
        width: 200px;
        height: 200px;
    }

    #home h1{
        font-size: 2rem;
    }

/*about section*/

    #about{
        padding: 2rem 1rem;
        margin: 1rem;
    }

/*skills section*/

    .skills-container{
        gap: 0.5rem;
    }

    .skill{
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
    }

/*project section*/

    #project{
        padding: 2rem 1rem;
    }
 }



 /*===small phones==*/

 @media screen and (max-width:480px){
    .profile-photo{
        width: 150px;
        height: 150px;
    }

    #home h1{
        font-size: 1.8rem;
    }

    .skills-container{
        flex-direction: column;
        align-items: center;
    }

   
 }



 /*hamburger menu*/

 @media screen and (max-width: 768px) {
    .hamburger{
        display: flex;
    }   
    
    nav{
        padding: 1rem 0;
    }

    .nav-container{
        padding: 0;
    }

    .logo{
        padding-left: 0.5rem;
        transition: opacity 0.3s ease;
    }

    .hamburger{
        padding-right: 0.5rem;
    }

    /*logo disappeare when scrolling*/

    .logo.hidden{
        opacity: 0;
        visibility: hidden;
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 0;
        flex-direction: column;
        background-color: #e28f95;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: 0.3s;
        padding-top: 80px;
        gap: 0;
    }

    .nav-menu.active{
        left: 0;
    }

    .nav-menu li{
        margin: 1.5rem 0;
    }

    .nav-menu a{
        font-size: 1.2rem;
        padding: 1rem;
        display: block;
    }

    /*hamburger animation*/

    .hamburger.active .bar:nth-child(1){
        transform: rotate(45deg) translate(6.5px, 6.5px);
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3){
        transform: rotate(-45deg) translate(6.5px, -6.5px);
    }
 }