*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial,sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #ffc2d1;
}

nav{
    background: #c1121f;
    padding: 1rem;
    position: fixed;
    width: 100;
    top: 0;
    z-index: 1000;
}

nav ul li{
    margin: 0rem;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover{
    color: #c1121f;
}

#home{
    text-align: center;
    padding: 8rem 2rem 4rem;
    background: linear-gradient(135deg, #c1121f 100%);
    color: white;
}


.profile-photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 1rem;
}

