*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial,sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #ffc2d1;
}

nav{
    background: #c1121f;
    padding: 1rem;
    position: fixed;
    width: 100;
    top: 0;
    z-index: 1000;
}